# Загрузка геологических данных

In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

from prob_geo_explore.config import RAW_DATA_DIR

2026-02-23 18:15:03.377 | INFO     | prob_geo_explore.config:<module>:11 - PROJ_ROOT path is: /home/ab/apps/prob-geo-explore

### Загрузка блоков

In [2]:
blocks = gpd.read_file(RAW_DATA_DIR / "blkArea/blkArea.shp")
blocks = blocks.to_crs(epsg=4326)
blocks.head()

,block_name,idBlock,area,quadrant,block_no,main_area,geometry
0,1/2,3382,319.100,1,2,North sea,"POLYGON ((2.53756 56.74934, 2.53577 56.75307, ..."
1,1/3,3383,565.892,1,3,North sea,"POLYGON ((2.66517 56.74934, 2.66517 56.75381, ..."
2,1/5,3384,103.293,1,5,North sea,"POLYGON ((2.66517 56.55238, 2.66184 56.555, 2...."
3,1/6,3385,557.493,1,6,North sea,"POLYGON ((2.73232 56.49933, 2.72897 56.50199, ..."
4,1/9,3386,193.248,1,9,North sea,"POLYGON ((2.99853 56.28747, 2.99508 56.29023, ..."

### Загрузка скважин

In [3]:
wells = pd.read_csv(RAW_DATA_DIR / "wellbore_all_long.csv")
wells.head()

/tmp/ipykernel_615136/1155939658.py:1: DtypeWarning: Columns (0: wlbNamePart6) have mixed types. Specify dtype option on import or set low_memory=False.
  wells = pd.read_csv(RAW_DATA_DIR / "wellbore_all_long.csv")

,wlbWellboreName,wlbWellType,wlbWell,wlbDrillingOperator,wlbProductionLicence,wlbPurpose,wlbStatus,wlbContent,wlbSubSea,wlbEntryDate,...,dscNpdidDiscovery,fldNpdidField,fclNpdidFacilityDrilling,wlbNpdidWellboreReclass,prlNpdidProductionLicence,wlbNpdidSiteSurvey,wlbAliasName,wlbDateUpdated,wlbDateUpdatedMax,datesyncNPD
0,1/2-1,EXPLORATION,1/2-1,Phillips Petroleum Norsk AS,143,WILDCAT,P&A,OIL,NO,20.03.1989,...,43814.0,3437650.0,296245.0,0,21956.0,NaN,NaN,09.12.2025,31.01.2025,06.02.2026
1,1/2-2,EXPLORATION,1/2-2,Paladin Resources Norge AS,143 CS,WILDCAT,P&A,OIL SHOWS,NO,14.12.2005,...,NaN,NaN,278245.0,0,2424919.0,NaN,NaN,09.12.2025,31.01.2025,06.02.2026
2,1/2-U-1,OTHER,1/2-U-1,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,09.05.2009,...,NaN,NaN,289441.0,0,21956.0,NaN,NaN,09.12.2025,06.10.2015,06.02.2026
3,1/2-U-2,OTHER,1/2-U-2,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,12.05.2009,...,NaN,NaN,289441.0,0,21956.0,NaN,NaN,09.12.2025,06.10.2015,06.02.2026
4,1/2-U-3,OTHER,1/2-U-3,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,12.05.2009,...,NaN,NaN,289441.0,0,21956.0,NaN,NaN,09.12.2025,06.10.2015,06.02.2026

In [4]:
geometry = [Point(xy) for xy in zip(wells["wlbEwDecDeg"], wells["wlbNsDecDeg"])]
wells_gdf = gpd.GeoDataFrame(wells, geometry=geometry, crs="EPSG:4326")
wells_gdf.head()

,wlbWellboreName,wlbWellType,wlbWell,wlbDrillingOperator,wlbProductionLicence,wlbPurpose,wlbStatus,wlbContent,wlbSubSea,wlbEntryDate,...,fldNpdidField,fclNpdidFacilityDrilling,wlbNpdidWellboreReclass,prlNpdidProductionLicence,wlbNpdidSiteSurvey,wlbAliasName,wlbDateUpdated,wlbDateUpdatedMax,datesyncNPD,geometry
0,1/2-1,EXPLORATION,1/2-1,Phillips Petroleum Norsk AS,143,WILDCAT,P&A,OIL,NO,20.03.1989,...,3437650.0,296245.0,0,21956.0,NaN,NaN,09.12.2025,31.01.2025,06.02.2026,POINT (2.47658 56.88752)
1,1/2-2,EXPLORATION,1/2-2,Paladin Resources Norge AS,143 CS,WILDCAT,P&A,OIL SHOWS,NO,14.12.2005,...,NaN,278245.0,0,2424919.0,NaN,NaN,09.12.2025,31.01.2025,06.02.2026,POINT (2.49657 56.99222)
2,1/2-U-1,OTHER,1/2-U-1,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,09.05.2009,...,NaN,289441.0,0,21956.0,NaN,NaN,09.12.2025,06.10.2015,06.02.2026,POINT (2.45139 56.94877)
3,1/2-U-2,OTHER,1/2-U-2,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,12.05.2009,...,NaN,289441.0,0,21956.0,NaN,NaN,09.12.2025,06.10.2015,06.02.2026,POINT (2.45214 56.94915)
4,1/2-U-3,OTHER,1/2-U-3,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,12.05.2009,...,NaN,289441.0,0,21956.0,NaN,NaN,09.12.2025,06.10.2015,06.02.2026,POINT (2.45237 56.94861)

### Пространственное присвоение скважин блокам

In [6]:
well_blocks = gpd.sjoin(wells_gdf, blocks, how="left", predicate="within")
well_blocks.head()

,wlbWellboreName,wlbWellType,wlbWell,wlbDrillingOperator,wlbProductionLicence,wlbPurpose,wlbStatus,wlbContent,wlbSubSea,wlbEntryDate,...,wlbDateUpdatedMax,datesyncNPD,geometry,index_right,block_name,idBlock,area,quadrant,block_no,main_area
0,1/2-1,EXPLORATION,1/2-1,Phillips Petroleum Norsk AS,143,WILDCAT,P&A,OIL,NO,20.03.1989,...,31.01.2025,06.02.2026,POINT (2.47658 56.88752),0.0,1/2,3382.0,319.1,1,2.0,North sea
1,1/2-2,EXPLORATION,1/2-2,Paladin Resources Norge AS,143 CS,WILDCAT,P&A,OIL SHOWS,NO,14.12.2005,...,31.01.2025,06.02.2026,POINT (2.49657 56.99222),0.0,1/2,3382.0,319.1,1,2.0,North sea
2,1/2-U-1,OTHER,1/2-U-1,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,09.05.2009,...,06.10.2015,06.02.2026,POINT (2.45139 56.94877),0.0,1/2,3382.0,319.1,1,2.0,North sea
3,1/2-U-2,OTHER,1/2-U-2,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,12.05.2009,...,06.10.2015,06.02.2026,POINT (2.45214 56.94915),0.0,1/2,3382.0,319.1,1,2.0,North sea
4,1/2-U-3,OTHER,1/2-U-3,ConocoPhillips Skandinavia AS,143,SOIL DRILLING,PLUGGED,NaN,NO,12.05.2009,...,06.10.2015,06.02.2026,POINT (2.45237 56.94861),0.0,1/2,3382.0,319.1,1,2.0,North sea

### Агрегация признаков блока

In [8]:
well_counts = well_blocks.groupby("block_name").size()
well_counts

block_name
1/2     5
1/3    44
1/5     5
1/6    40
1/9    65
       ..
9/2    64
9/3     2
9/4    10
9/6     2
9/8     1
Length: 431, dtype: int64

In [9]:
dry_wells = well_blocks[well_blocks["wlbContent"].str.contains("dry", case=False, na=False)]
dry_counts = dry_wells.groupby("block_name").size()
dry_counts

block_name
1/3     3
1/5     1
1/6     1
1/9     2
10/4    1
       ..
9/10    1
9/12    1
9/2     5
9/3     2
9/4     4
Length: 252, dtype: int64

In [11]:
water_depth = well_blocks.groupby("block_name")["wlbWaterDepth"].mean()
water_depth

block_name
1/2     73.600000
1/3     70.168182
1/5     69.600000
1/6     69.757500
1/9     74.301538
          ...
9/2     84.628125
9/3    100.000000
9/4     75.060000
9/6     91.200000
9/8     68.000000
Name: wlbWaterDepth, Length: 431, dtype: float64

### Discoveries

In [12]:
discoveries = pd.read_csv(RAW_DATA_DIR / "discovery.csv")
fields = pd.read_csv(RAW_DATA_DIR / "field.csv")

### Стратиграфия

In [13]:
strat = pd.read_csv(RAW_DATA_DIR / "strat_litho_wellbore.csv")

### Near Field

In [14]:
blocks["centroid"] = blocks.geometry.centroid

/tmp/ipykernel_615136/1054874380.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  blocks["centroid"] = blocks.geometry.centroid